<form action="/cart/" method="POST">
    <input type="hidden" name="productId" value="<%=product.id%>">
    <button type="submit" class="btn bg-custome-primary btn-primary float-start">Add To Cart</button>
</form>
