<form action="/cart/" method="POST">
    <input type="hidden" name="productId" value="<%=product.id%>">
    <button type="submit" class="btn btn-success bg-darkgreen float-left">Add To Cart</button>
</form>
