<%- include('includes/head.ejs') %> <%- include('includes/navigation.ejs') %> <%
if (prods.length>0) { %>
<div class="card-group">
	<% for(product of prods){ %>
	<div class="card w-25 m-2">
		<div class="bg-dark w-100 h-50">
			<img
				class="w-100 h-100"
				src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAD6CAYAAACI7Fo9AAACMklEQVR42u3TMQ0AQAjAwMfTT+z4lwQGUEDuJDRp/Kx+wGlhdDA6YHTA6IDRAaMDRgeMDhgdjA4YHTA6YHTA6IDRAaMDRgejA0YHjA4YHTA6YHTA6IDRwehGB6MDRgeMDhgdMDpgdMDogNHB6IDRAaMDRgeMDhgdMDpgdDA6YHTA6IDRAaMDRgeMDhgdjG50MDpgdMDogNEBowNGB4wOGB2MDhgdMDpgdMDogNEBowNGB6MDRgeMDhgdMDpgdMDogNHB6EYHowNGB4wOGB0wOmB0wOiA0cHogNEBowNGB4wOGB0wOmB0MDpgdMDogNEBowNGB4wOGB2MLgMYHTA6YHTA6IDRAaMDRgeMDkYHjA4YHTA6YHTA6IDRAaOD0QGjA0YHjA4YHTA6YHTA6GB0wOiA0QGjA0YHjA4YHTA6YHQwOmB0wOiA0QGjA0YHjA4YHYwOGB0wOmB0wOiA0QGjA0YHowNGB4wOGB0wOmB0wOiA0QGjg9EBowNGB4wOGB0wOmB0wOhgdMDogNEBowNGB4wOGB0wOhgdMDpgdMDogNEBowNGB4wOGB2MDhgdMDpgdMDogNEBowNGB6MDRgeMDhgdMDpgdMDogNHB6IDRAaMDRgeMDhgdMDpgdMDoYHTA6IDRAaMDRgeMDhgdMDoYHTA6YHTA6IDRAaMDRgeMDkYHjA4YHTA6YHTA6IDRAaMDRgejA0YHjA4YHTA6YHTA6IDRweiA0QGjA0YHjA4YHTA6sBlVxajeSqQ+kAAAAABJRU5ErkJggg=="
				alt="Image Cap"
			/>
		</div>

		<div class="card-body">
			<h5 class="card-title"><%= product.title %></h5>
			<p class="card-text">Content</p>
		</div>
		<div class="card-footer">
			<a href="http://" class="btn btn-outline-primary"> Add To Cart </a>
		</div>
	</div>
	<% } %>
</div>
<% }else{ %>
<h1>No Products found</h1>
<% } %> <%- include('includes/end.ejs') %>
